h1{
	font-style: italic;
	font-family: inherit;
	text-decoration: underline;
	padding: 10px 5px 20px 40px;
	margin: 10px 5px 20px 40px;
	border: solid 10px;
	border-color: yellow;
}

#caph1{
	text-align: center;
}

.apagado{
	text-decoration: line-through;
}
.apagado:hover{
	background-color: red;
}

oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
ooooooooooooooooooooooooooooooooooooooooooooooo                           oooooooooooooooooooooooooooooooooooooooooooooooooooo
oooooooooooooooooooooooooooooooooooooooooooo                                oooooooooooooooooooooooooooooooooooooooooooooooooo
ooooooooooooooooooooooooooooooooooooooooo        oooooooooooooooooooooooo      ooooooooooooooooooooooooooooooooooooooooooooooo
ooooooooooooooooooooooooooooooooooooooo     oooooooooooooooooooooooooooooooo      oooooooooooooooooooooooooooooooooooooooooooo
ooooooooooooooooooooooooooooooooooooo     ooooooooooooooooooooooooooooooooooooo      ooooooooooooooooooooooooooooooooooooooooo
ooooooooooooooooooooooooooooooooooo    oooooooooooooooooooooooooooooooooooooooooooo    ooooooooooooooooooooooooooooooooooooooo
ooooooooooooooooooooooooooooooooo   oooooooooooooooooooooooooooooooooooooooooooooooooo   ooooooooooooooooooooooooooooooooooooo
oooooooooooooooooooooooooooooooo  oooooooooooooooooooooooooooooooooooooooooooooooooooooo  oooooooooooooooooooooooooooooooooooo
oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo
ooooo  ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo  oooooo
ooooo    ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo    oooooo
oooooo     ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo     ooooooo
oooooo      oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo